name: PD E2E with Podman Nightly WSL
run-name: PD E2E Podman Nightly WSL

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:
    inputs:
      repo_branch:
        default: 'FORK=podman-desktop,BRANCH=main'
        description: 'Podman Desktop fork and branch'
        type: string
        required: true
      npm_target:
        default: 'test:e2e'
        description: 'npm target to run tests'
        type: choice
        options:
          - 'test:e2e'
          - 'test:e2e:smoke'
          - 'test:e2e:extension'
        required: true
      env_vars:
        default: 'TEST_PODMAN_MACHINE="true",CLI_TOOLS="all"'
        description: 'Env. Variables passed into target machine, ie: VAR1=xxx,VAR2=true,VAR3=15,VAR4="Pass me along",RUN_KIND_TESTS=true'
        type: 'string'
        required: true
      podman_remote_url:
        default: 'https://api.cirrus-ci.com/v1/artifact/github/containers/podman/Artifacts/binary/podman-remote-release-windows_amd64.zip'
        description: 'podman remote zip'
        type: string
        required: true
      images_version:
        default: 'BUILDER="v0.0.3",PODMAN="v0.0.3",RUNNER="v0.0.3"'
        description: 'Testing images versions, no spaces'
        type: 'string'
        required: true
      podman_provider:
        default: 'wsl'
        description: 'Podman virtualization provider'
        type: 'string'
        required: true
      mapt_params:
        description: |
          **Create instance(leave empty to use repo secrets/variables)**

          **Format:** IMAGE=xxx;VERSION_TAG=xxx;CPUS=xxx;MEMORY=xxx;EXCLUDED_REGIONS=xxx

          **Example:** 
            IMAGE=quay.io/redhat-developer/mapt;VERSION_TAG=v0.9.8;CPUS=4;MEMORY=32;EXCLUDED_REGIONS="westindia,centralindia,southindia,australiacentral,australiacentral2,australiaeast,australiasoutheast,southafricanorth,southafricawest"
        required: false
        type: string

jobs:
  windows:
    timeout-minutes: 180
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    strategy:
      fail-fast: false
      matrix:
        windows-version: ['10','11']
        windows-featurepack: ['22h2-ent', '23h2-ent']
        exclude:
          - windows-version: '10'
            windows-featurepack: '23h2-ent'
          - windows-version: '11'
            windows-featurepack: '22h2-ent'

    steps:
    - name: Set the default env. variables
      uses: ./.github/actions/set-env-variables
      with:
        repo-branch: ${{ github.event.inputs.repo_branch || 'FORK=podman-desktop,BRANCH=main' }}
        podman-remote-url: ${{ github.event.inputs.podman_remote_url || 'https://api.cirrus-ci.com/v1/artifact/github/containers/podman/Artifacts/binary/podman-remote-release-windows_amd64.zip' }}
        podman-machine-options: ${{ github.event.inputs.podman_options || 'INIT=1,START=1' }}
        podman-provider: ${{ github.event.inputs.podman_provider || 'wsl' }}
        npm-target: ${{ github.event.inputs.npm_target || 'test:e2e' }}
        images-version: ${{ github.event.inputs.images_version || 'BUILDER="v0.0.3",PODMAN="v0.0.3",RUNNER="v0.0.3"' }}
        env-vars: ${{ github.event.inputs.env_vars || 'TEST_PODMAN_MACHINE=true' }}
        mapt-params: ${{ github.event.inputs.mapt_params }}
        mapt-image: ${{ vars.MAPT_IMAGE }}
        mapt-version-tag: ${{ vars.MAPT_VERSION_TAG }}
        mapt-cpus: ${{ vars.MAPT_CPUS }}
        mapt-memory: ${{ vars.MAPT_MEMORY }}
        mapt-excluded-regions: ${{ vars.MAPT_EXCLUDED_REGIONS }}

    - name: Create instance
      uses: podman-desktop/e2e/.github/actions/create-instance@main
      with:
        mapt-image: ${{ env.MAPT_IMAGE || '' }}
        mapt-version: ${{ env.MAPT_VERSION_TAG || '' }}
        windows-version: ${{ matrix.windows-version }}
        windows-featurepack: ${{ matrix.windows-featurepack }}
        cpus: ${{ env.MAPT_CPUS || '' }}
        memory: ${{ env.MAPT_MEMORY || '' }}
        excluded-regions: ${{ env.MAPT_EXCLUDED_REGIONS || '' }}
        arm-tenant-id: ${{ secrets.ARM_TENANT_ID }}
        arm-subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        arm-client-id: ${{ secrets.ARM_CLIENT_ID }}
        arm-client-secret: ${{ secrets.ARM_CLIENT_SECRET }}

    - name: Check instance system info
      uses: podman-desktop/e2e/.github/actions/instance-system-info@main

    - name: Emulate X session 
      uses: podman-desktop/e2e/.github/actions/emulate-x-session@main

    - name: Setup dependencies and build Podman Desktop locally
      uses: podman-desktop/e2e/.github/actions/build-podman-desktop@main
      with:
        fork: ${{ env.FORK }}
        branch: ${{ env.BRANCH }}

    - name: Download Podman nightly, do not initialize and start
      uses: podman-desktop/e2e/.github/actions/download-podman-nightly@main
      with:
        podman-image-tag: ${{ env.PDE2E_PODMAN }}
        podman-download-url: ${{ env.PODMAN_URL }}

    - name: Run Podman Desktop Playwright E2E tests
      uses: podman-desktop/e2e/.github/actions/run-playwright-test@main
      with:
        pde2e-runner-tag: ${{ env.PDE2E_RUNNER }}
        fork-repo: ${{ env.FORK }}
        branch-name: ${{ env.BRANCH }}
        npm-target: ${{ env.NPM_TARGET }}
        podman-provider: ${{ env.PODMAN_PROVIDER }}
        env-vars: ${{ env.ENV_VARS }}
        ci-bot-token: ${{ secrets.PODMANDESKTOP_CI_BOT_TOKEN }}

    - name: Destroy instance
      if: always()
      uses: podman-desktop/e2e/.github/actions/destroy-instance@main
      with:
        mapt-image: ${{ env.MAPT_IMAGE || '' }}
        mapt-version: ${{ env.MAPT_VERSION_TAG || '' }}
        arm-tenant-id: ${{ secrets.ARM_TENANT_ID }}
        arm-subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        arm-client-id: ${{ secrets.ARM_CLIENT_ID }}
        arm-client-secret: ${{ secrets.ARM_CLIENT_SECRET }}

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: always() # always run even if the previous step fails
      with:
        fail_on_failure: true
        include_passed: true
        detailed_summary: true
        require_tests:  true
        report_paths: '**/*results.xml'

    - name: Upload test artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: win-${{ matrix.windows-version }}${{ matrix.windows-featurepack }}
        path: |
          results/*


